<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Book</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Book information</h1>
        <a th:href="@{/}">Return</a>
        <br /><!-- comment -->
        <form th:action="@{/saveBook}" method="POST" th:object="${book}">
            <input type="hidden" name="isbn" th:field="*{isbn}"/>
            <br />
            <label for="name">Title:</label>
            <input type="text" name="title" th:field="*{title}"/>
            <br />
            <label for="name">Author:</label>
            <input type="text" name="author" th:field="*{author}"/>
            <br />
            <label for="name">Category:</label>
            <input type="text" name="category" th:field="*{category}"/>
            <br />
            <label for="name">Availability:</label>
            <input type="number" name="availability" th:field="*{availability}"/>
            <br />
            <label for="name">Price:</label>
            <input type="number" name="price" th:field="*{price}"/>
            <br />
            <input type="submit" name="save" value="Save"/>
        </form>
    </body>
</html>
